

.App {
  display: grid;
  grid-template-columns: repeat(8, 150px);
  margin: 50px;
}

.memoryCard {
  background-color: indianred;
  height: 130px;
  margin: 10px;

}

.memoryCard img {
  height: 130px;
  opacity: 0;
}

img.chosen {
  opacity: 1;
}

.noPlay {
  visibility: hidden;
}